@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
    color: inherit;
}

textarea {
    resize: none;
}

*::placeholder {
    font: inherit;
    color: inherit;
}

:focus,
:active {
    outline: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    color: #232323;
    background-color: white;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 75px 0;
}

.title {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 0.1em;
    margin-top: 100px;
    margin-bottom: 20px;
}

.section__title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 50px;
}

.text-accent {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    color: #a52424;
}

.button {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #a52424;
    border: 1px solid #a52424;
    padding: 20px 30px;
    transition: 0.3s;
}

.button:hover {
    background-color: #a52424;
    color: white;
}

.button:active {
    background-color: white;
    color: #a52424;
    transition: 0.03s;
}

.image-shadow {
    box-shadow: 0 6px 10px 3px rgba(0, 0, 0, 0.05);
    position: absolute;
    z-index: -1;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 11px;
}

.header__nav {
    margin-left: 70px;
}

.header__list {
    display: flex;
    column-gap: 54px;
}

.logo {
    width: 109px;
    height: 84px;
}

.header__link {
    color: #101010;
    position: relative;
}

.header__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 0.3s;
}

.header__link:hover::after {
    width: 100%;
}

.link__tel {
    color: #a52424;
    transition: color 0.3s;
}

.link__tel:hover {
    color: #101010;
}

.top {
    padding-top: 0;
}

.top__inner {
    display: flex;
    gap: 53px;
    justify-content: space-between;
}

.top__content {
    max-width: 443px;
}

.top__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    color: #101010;
    margin-bottom: 55px;
}

.about__title {
    margin-bottom: 0;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 119px;
    align-items: flex-end;
}

.about__image {
    max-width: 377px;
    flex-grow: 1;
}

.text-accent-about {
    margin-top: 50px;
}

.about__picture {
    position: absolute;
    bottom: 70px;
    right: -5px;
}

.about__image-shadow {
    width: 343px;
    height: 560px;
    left: 0;
    bottom: 15px;
}

.about__content {
    max-width: 647px;
    margin-right: 32px;
}

.about__text {
    margin-top: 20px;
}

.about__image-continer {
    position: relative;
}

.about__content-image {
    padding: 30px 0;
}

.about__content-shadow {
    width: 567px;
    height: 330px;
    top: 0;
    right: -30px;
}

.portfolio__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.portfolio__item {
    flex: 1;
}

.portfolio__image {
    margin-bottom: 20px;
}

.portfolio__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    color: #101010;
    margin-bottom: 10px;
}

.portfolio__text {
    color: #101010;
    margin-bottom: 20px;
}

.portfolio__button {
    padding: 20px 55px;
}

.price__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 152px;
}

.price__item {
    flex: 1;
    text-align: center;
    padding: 0px 40px 25px;
    position: relative;
}

.price__image {
    margin: 0 auto 30px;
    box-shadow: 2px 4px 10px 1px rgba(35, 35, 35, 0.15);
}

.text-accent-price {
    margin-bottom: 25px;
}

.price__text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.price__text {
    font-weight: 600;
}

.price__text--accent {
    font-weight: 600;
    font-size: 36px;
    color: #a52424;
}

.price__shadow {
    width: 509px;
    height: 467px;
    bottom: 0;
    right: 5px;
}

.contacts{
    margin-bottom: 22px;
}

.contacts__inner {
    display: flex;
}

.contacts__container-image {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.contacts__image-one {
    position: absolute;
    left: 0;
    z-index: -1;
}

.contacts__image {
    box-shadow: 2px 4px 10px 1px rgba(35, 35, 35, 0.15);
}

.contacts__form {
    flex: 1;
}

.form {
    margin-left: 104px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form__input {
    padding: 18px 20px;
    border: 0.5px solid rgba(35, 35, 35, 0.85);
}

.form__input::placeholder {
    letter-spacing: 0.05em;
    color: rgba(35, 35, 35, 0.35);
}

.form__input:focus {
    border: 0.5px solid #a52424;
}

.form__textarea {
    height: 221px;
}

.form__button {
    font-size: 24px;
}

.footer {
    border-top: 0.3px solid #232323;
}

.footer__inner {
    padding: 36px 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.footer__social {
    display: flex;
    align-items: center;
    column-gap: 60px;
    margin-left: 110px;
}

.link__tel--footer{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
}
