.portfolio__container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 70px 15px;
    text-align: center;
}

.portfolio__container h2 {
    padding: 20px;
    font-size: clamp(20px, 2.5vw, 25px);
    color: rgb(10, 158, 60);
    position: relative;
    display: inline-block;
}

.portfolio__container h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.2px;
    width: 0;
    height: 1.5px;
    background-color: rgb(10, 158, 60);
    transition: width 0.15s ease-in;
}

.portfolio__container h2:hover::after {
    width: 100%;
}

.swiper {
    width: 100%;
    max-width: 900px;
    max-height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    aspect-ratio: 4 / 3;
}

.swiper-wrapper {
    height: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f5f5f5;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.swiper-button-prev,
.swiper-button-next {
    color: #007bff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
}

.swiper-pagination {
    bottom: 20px !important;
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #007bff;
    width: 12px;
    height: 12px;
}