.portfolio__container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 80px 15px;
    text-align: center;
}

.portfolio__container-subtitle {
    margin-top: 20px;
    font-size: clamp(20px, 2.5vw, 25px);
    color: rgb(178, 105, 53);
    position: relative;
    display: inline-block;
}

.portfolio__container-subtitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.2px;
    width: 0;
    height: 1.5px;
    background-color: rgb(178, 105, 53);
    transition: width 0.15s ease-in;
}

.portfolio__container-subtitle:hover::after {
    width: 100%;
}

.custom-slick-slider {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    /* margin: 0 auto; */
    padding: 20px 0;
}

.custom-slick-slider .slick-slide {
    transition: all 0.3s ease;
    opacity: 0.5;
    transform: scale(0.6);
    margin: 0 10px;
}

.custom-slick-slider .slick-center {
    opacity: 1;
    transform: scale(1);
}

.custom-slick-slider .slick-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.slick-prev:before, .slick-next:before {
    font-size: 20px;
    color: #fff;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-dots {
    bottom: -30px;
}

.slick-dots li button:before {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.slick-dots li.slick-active button:before {
    color: #007bff;
}