@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #232323;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    position: fixed;
    padding: 3px 0 5px;
    width: 100%;
    background-color: rgb(238, 228, 228);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header__block {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding:0 10px 8px 0;
}

.header__logo-img {
    max-height: 70px;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header__nav-list {
    margin: 0;
    padding: 0;
    gap: 80px;
    display: flex;
    justify-content: center;
    font-size: clamp(14px, 1.5vw, 18px);
    font-weight: 500;
    color: #2a2929;
    list-style: none;
    text-decoration: none;
    transition: color 0.3s ease-in;
}

.header__nav-list li {
    display: inline-block;
}

.header__nav-list:hover {
    color: #007bff;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    color: #282828;
}

.header__contact-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__contact-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.header__nav-link,
.header__contacts-link {
    text-decoration: none;
    color: rgb(70, 69, 69);
    font-size: clamp(16px, 1.8vw, 20px);
    font-weight: 500;
    text-align: center;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.header__nav-link:hover,
.header__contacts-link:hover {
    color: #007bff;
}

/*  */
.company__section-block {
    position: relative;
    padding: 120px 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 1470px;
    text-align: justify;
}

.company__section-block h1 {
    margin-bottom: 20px;
    font-size: clamp(28px, 3.5vw, 40px);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.company__section-block h2 {
    font-size: clamp(20px, 2.5vw, 25px);
    margin: 1rem 0;
    color:rgb(10, 158, 60);
    position: relative;
    display: inline-block;
}

.company__section-block h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.2px;
    width: 0;
    height: 1.5px;
    background-color: rgb(10, 158, 60);
    transition: width 0.15s ease-in;
}

.company__section-block h2:hover::after {
    width: 100%;
}

.company__section-block ul {
    list-style: none;
    padding: 0;
}

.company__section-block p{
    font-size: clamp(16px, 1.8vw, 20px);
    line-height: 1.6;
    text-indent: 25px;
}

.company__section-block li{
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: clamp(16px, 1.8vw, 20px);
}

.list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../img/icons/check-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/*  */