@import url('./reset.css');

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #232323;
}