.swiper {
    width: 90%;
    height: auto;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.swiper-button-prev, .swiper-button-next {
    color: #007bff;
}

.swiper-pagination-bullet-active {
    background-color: #007bff;
}